@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
}

@font-face {
    font-family: 'Avengeance Mightiest Avenger';
    src: url('../fonts/AvengeanceMightiestAvenger.eot');
    src: url('../fonts/AvengeanceMightiestAvenger.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvengeanceMightiestAvenger.woff2') format('woff2'),
        url('../fonts/AvengeanceMightiestAvenger.woff') format('woff'),
        url('../fonts/AvengeanceMightiestAvenger.ttf') format('truetype'),
        url('../fonts/AvengeanceMightiestAvenger.svg#AvengeanceMightiestAvenger') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}