/* ტექნიკური კლასები */
.box {
    max-width: 1448px;
    margin: 0 auto;
}

.wraper {
    overflow: hidden;
    height: 100%;
}

/* header start */

.logo-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.nav-list {
    display: flex;
    width: 563px;
    justify-content: space-evenly;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 900;
    text-transform: capitalize;
    color: #FFFFFF;

}

.burger {
    display: none;
    font-size: 70px;
    font-weight: 900;
    color: #fff;
}

.header {
    width: 100%;
    background-image: url(../images/cover-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 323px;
    padding-left: 30px;
    padding-right: 30px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin-top: 118px;
    font-family: 'Avengeance Mightiest Avenger';
    font-size: 96px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: capitalize;
}

.subtitle {
    margin-top: 118px;
    margin-bottom: 62px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF;
    max-width: 371px;
}

.button {
    display: flex;

}

.orderbutton {
    font-family: 'Avengeance Mightiest Avenger';
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #A80E0E;
    background-color: #FFAA00;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 90px;

}

/* ------------------------------section1-------------------------------------------- */
.sec-1 {
    width: 100%;

}

.titles2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.title2 {
    font-family: 'Avengeance Mightiest Avenger';
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    color: #A80E0E;
    margin-top: 139px;
    margin-bottom: 43px;
}

.subtitle2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    margin-bottom: 72px;
}

.menu-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}

.menu-items {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

.menu-items img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.describtion {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    color: black;

}



.img-div {
    width: 100px;
}

.adv-block {

    width: 100%;
    background-color: #FFAA00;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-top: 168px
}

.titles3 {

    max-width: 436px;
    color: #FFFFFF;
    margin-left: 100px;

}

.title3 {

    font-family: 'Avengeance Mightiest Avenger';
    font-weight: 400;
    font-size: 47px;
    text-transform: uppercase;
    margin-bottom: 63px;
    text-align: center;
}

.subtitle3 {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}

.sec-2 {
    width: 1448px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;

}

.courier {
    max-width: 800px;
}

.men {
    width: 100%;
}

/* -----------------------------------------------section4-------------------------------------------------- */
.sec-3 {
    padding-top: 126px;
    padding-bottom: 126px;
}

.titles-4 {
    display: flex;
    flex-direction: column;
}

.title4 {
    text-align: center;
    font-family: 'Avengeance Mightiest Avenger';
    font-size: 40px;
    font-weight: 400;
    color: #A80E0E;
    margin-bottom: 64px;

}

.subtitle4 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 900;
    color: black;
}

.adv-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 58px 56px;
    padding: 30px;
}

.adv-block2 {
    width: 400px;

}

.adv-titles {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    margin-top: 73px;
    margin-bottom: 40px;

}

.adv-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    margin-bottom: 12px;

}

.adv-subtitle {
    color: #686868;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;

}


.adv-img img {
    width: 400px;
}

.prise-button {
    display: flex;
    margin-left: 36px;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-end;
}

.button-cart {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 14px;
    display: flex;
    width: 150px;
    min-height: 25px;
    margin-right: 12px;
    background-color: #FFAA00;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    color: #FFFFFF;
}

.showmenu {
    font-family: 'Avengeance Mightiest Avenger';
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #FFAA00;
    background-color: #A80E0E;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 90px;

}

.prise {
    font-family: 'Avengeance Mightiest Avenger';
    font-size: 22px;
    font-weight: 400;
    color: #A80E0E;
}


/* hover */

.nav-link:hover {
    font-size: 25px;
    color: black;
    font-weight: 900
}

.orderbutton:hover,
.showmenu:hover {
    font-size: 20px;
}

.button-cart:hover {
    background-color: #A80E0E;
}


.menu-items:hover {
    box-shadow: 5px 5px 20px 5px #C7C7C7;
}