/* ტექნიკური კლასები */
.box {
    max-width: 1448px;
    margin: 0 auto;
}

.wraper {
    overflow: hidden;
    height: 100%;
}

/* header start */

.logo-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.nav-list {
    display: flex;
    width: 563px;
    justify-content: space-evenly;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 900;
    text-transform: capitalize;
    color: #FFFFFF;

}

.burger {
    display: none;
    font-size: 70px;
    font-weight: 900;
    color: #fff;
}

.header {
    width: 100%;
    background-image: url(../images/cover-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 323px;
    padding-left: 30px;
    padding-right: 30px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin-top: 118px;
    font-family: 'Avengeance Mightiest Avenger';
    font-size: 96px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: capitalize;
}

.subtitle {
    margin-top: 118px;
    margin-bottom: 62px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF;
    max-width: 371px;
}

.button {
    display: flex;

}

.orderbutton {
    font-family: 'Avengeance Mightiest Avenger';
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #A80E0E;
    background-color: #FFAA00;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 90px;

}

/* ------------------------------section1-------------------------------------------- */
.sec-1 {
    width: 100%;

}

.titles2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.title2 {
    font-family: 'Avengeance Mightiest Avenger';
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    color: #A80E0E;
    margin-top: 139px;
    margin-bottom: 43px;
}

.subtitle2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    margin-bottom: 72px;
}

.menu-block {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}

.menu-items {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.describtion {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    color: black;

}

.sec-1 {
    padding-bottom: 50px;
}

.img-div {
    width: 100px;
}



/* hover */

.nav-link:hover {
    font-size: 25px;
    color: black;
    font-weight: 900
}

.orderbutton:hover {
    font-size: 20px;
}

.menu-items:hover {
    padding: 5px;
    box-shadow: 5px 5px 20px 5px #C7C7C7;
}